@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-100;
}

.markdown h1 {
  @apply text-2xl font-semibold;
}

.markdown h2 {
  @apply text-xl font-semibold;
}

.markdown p {
  @apply text-slate-200;
}
